<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ascii-art-web</title>
    <link id="fav" rel="shortcut icon" type="image/x-icon" href="src/assets/favicon.ico" />
    <link rel="stylesheet" href="src/css/normalize.css">
    <link rel="stylesheet" href="src/css/style.css">
</head>
<body>
    <div class="header">
        <div class="searchBox">
            <input list="searchInput" class="input" placeholder="Search...">
            <div class="search-bar">
                <form action="/search" method="GET">
                    <datalist id="searchInput">
                        {{ range .Cards }}
                        <option value={{.GroupName}}>{{.GroupName}} </option>
                        {{ end }}
                    </datalist>
                </form>
            </div>
            <div class="aboba" id="change-filters"></div>
        </div>
    </div>
    <div class="filter" id="filters">
        <div class="filter__column">
            <div class="component">
                <div class="component__name">Creation Date</div>
                <div class="grid-grid">
                    <div id="output1">1960</div>
                    <div class="range-slider">
                        <input id="range-from-cd" type="range" min="1950" max="2022" value="1960">
                        <input id="range-to-cd" type="range" min="1950" max="2022" value="2010">
                    </div>
                    <div id="output2">2010</div>
                </div>
            </div>
            <div class="component">
                <div class="component__name">First Album</div>
                <div class="grid-grid">
                    <div id="output3">1960</div>
                    <div class="range-slider">
                        <input id="range-from-fa" type="range" min="1950" max="2022" value="1960">
                        <input id="range-to-fa" type="range" min="1950" max="2022" value="2010">
                    </div>
                    <div id="output4">2010</div>
                </div>
            </div>
        </div>
        <div class="filter__column ">
            <div class="component">
                <div class="component__name">Members</div>
                <div class="checkbox">
                    {{ range .CountMembers }}
                    <input type="checkbox" id="num-members-{{ . }}" name="num-members" value="{{ . }}">
                    <label for="num-members-{{ . }}">{{ . }}</label>
                    {{ end }}
                </div>
            </div>
            <div class="component">
                <div class="component__name">Location</div>
                <div class="location-select">
                    <input placeholder="Locations" list="searchtype" class="selector-location">
                    <datalist id="searchtype">
                        {{ range .Location}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                    </datalist>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="main-container">
        {{ range .Cards }}
        {{ template "card" . }}
        {{ end }}
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="rick-style">
            <div class="Rick-card">
                <div class="card__header">Rick Astley</div>
                <div class="card__main">
                    <div class="main__picture"></div>
                    <div class="group">
                        <div class="group__text">1966</div>
                        <div class="group__text">Rick Astley</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <script type="module" src="src/js/range.js"></script>
</body>
</html>